# Node.js
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
/dist
/build

# Vite
frontend/.vite

# VSCode
.vscode/

# อื่นๆ ที่อาจจะมี
package-lock.json
yarn.lock 